html {
    height: 100%;
}

body {
    padding-top: 50px;
    height: 100%;
}

.container {
    height: 100%;
}

#content-container {
    padding: 10px;
}

#timeline-row {
    height: 91px;
}

#dayofjobs-row {
    padding: 10px;
}

#map-row {
    height: 58%;
}

#timeline {
    height: 100%;
}

#map {
    height: 100%;
    position: relative;
}

#profit-box{
    z-index: 99;
    position: absolute;
    top: 40%;
    left: 84%;
    background-color: white;
    width: 150px;
    height: 60px;
    text-align: center;
    color: green;
}

#slider-id {
    width: 100%;
}

#slider-id .slider-selection {
    background: green;
}

#dayofjobs-btn {
    height: 100%;
    width: 100%;
}

.google-visualization-tooltip{
    z-index: 99;
}

.btn-col {
    padding: 10px;
}

.logoToken {
    padding-left: 5px;
}