input[type="number"] {
  width: 3em;
}

#profilePicture {
    width: 150px;
    height: 150px;
    margin-left: 48px;
    margin-top: 22px;
    border-radius: 40px;
    border: 1px solid white;
    display: none;
    position: relative;
    top: 1.5%;
    left: 6.5%;
}

#userName {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 10px;
    width: 100%;
    display: table;
    position: relative;
    top: 2%;
}

#jobCategory {
    display: none;
    color: white;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

#togglebar {
    width: 1%;
    margin-left: -4px;
    height: 100%;
    background-color: #00A1FF;
    display: inline-block;
}

#togglebar:hover {
    cursor: pointer;
}

#mapContainer {
    width: 76.5%;
    height: 100%;
    display: inline-block;
    position:relative;
}

#timeline {
    height: 16%;
}

#map {
    height: 84%;
}

li {
    list-style-type: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container { 
    width: 100%;
    height: 91%;
}

#navBar {
    background-color: #333;
    height: 9%;
}
.navButton {
    float: left;
    height: 100%;
    width: 150px;
}
.navButton a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 175%
}
.navButton a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

#sidebar {
    position:relative;
    width:22%;
    background:#000;
    height: 100%;
    display: inline-block;
}  

#pageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.fb_iframe_widget {
    display: table !important;
    width: 100%;
    text-align: center;
}

#floatingPanel {
    position: absolute;
    width:100px;
    height:29px;
    top: 32.9%;
    left: 56.5%;
    z-index: 1;
    display: none;
}

.logout {
    float: right;
    position: relative;
    top: 19%;
}

.myButton {
    -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
    background-color:#7892c2;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:22px;
    font-weight:bold;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
    background-color:#476e9e;
}
.myButton:active {
    position:relative;
    top:1px;
}

#dayofjobsButton {
    display: table;
    position: relative;
    top: 27%;
    left: 12%;
}

label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
    margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}

input.radio:checked ~ label {
    color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
